{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = ["-d", {{ printf "%q" "{{ .Destination }}" }}, {{ printf "%q" "{{ .Source }}" }}, {{ printf "%q" "{{ .Target }}" }}]

# vi: ft=toml
