# vi: ft=bash
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Environment
export LC_ALL="en_US.UTF-8"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export EDITOR="nvim"

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew
if [ -e "/opt/homebrew/bin/brew" ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ else if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian")) }}
# Nix
if [ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]; then
  . "$HOME/.nix-profile/etc/profile.d/nix.sh"
fi
{{ end -}}

# VI mode
bindkey -v
bindkey "^H" backward-delete-char
bindkey "^?" backward-delete-char
export KEYTIMEOUT=25

# History
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# Zinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

# Plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab
zinit light svenXY/timewarrior

# Snippets
zinit snippet OMZL::directories.zsh

# Load completions
autoload -Uz compinit && compinit
zinit cdreplay -q

# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
# zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' menu no

# Powerlevel10k
zinit ice depth"1" # git clone depth
zinit light romkatv/powerlevel10k
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# zsh-syntax-highlighting overrides -> basically remove underlines
export ZSH_HIGHLIGHT_STYLES[path]=none
export ZSH_HIGHLIGHT_STYLES[path_pathseparator]=none
export ZSH_HIGHLIGHT_STYLES[path_prefix]=none
export ZSH_HIGHLIGHT_STYLES[path_prefix_pathseparator]=none
export ZSH_HIGHLIGHT_STYLES[precommand]="fg=green"

# Keybindings
bindkey '^r' history-incremental-search-backward

# Aliases
alias l='eza -lgaa'

# fzf customizations
export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"

# fzf-tab preview customization
zstyle ':fzf-tab:complete:export:*' fzf-preview "eval 'echo \$'$realpath"
zstyle ':fzf-tab:complete:unset:*' fzf-preview "eval 'echo \$'$realpath"
zstyle ':fzf-tab:*' fzf-preview '
  local file="$realpath"

  [[ -z "$file" || ! -e "$file" ]] && { echo "No preview available."; return; }

  if [[ -d "$file" ]]; then
    eza --tree --level=1 --color=always --icons "$file" | head -200
    return
  fi

  local mime=$(file --mime-type -Lb -- "$file" 2>/dev/null || echo none)

  case "$mime" in
    application/pdf)
      pdftotext "$file" - | head -200
      ;;
    application/zip)
      zipinfo -1 "$file" | head -200
      ;;
    text/*)
      bat -n --color=always --line-range :200 "$file"
      ;;
    *)
      echo "No preview available."
      ;;
  esac
'

# Shell integrations
source <(fzf --zsh)
