#!/bin/bash

# Colors (https://stackoverflow.com/a/28938235/2019384)
ColorOff='\033[0m'  
ColorGreen='\033[0;32m'
DefaultColor=$ColorGreen

set -euo pipefail

function removeLastLine() {
  echo -e -n "\033[1A\033[K"
}

{{ if eq .chezmoi.os "darwin" -}}

echo -e "${DefaultColor}--- [ Resolving requirements for macOS ] ---${ColorOff}"

function installBrew() {
  echo "⏳ Installing brew packages..."
  brew bundle
  echo "✅ brew packages installed successfully."
}

function finderAndDock() {
  echo "⏳ Configuring Finder & Dock..."

  if [[ $(defaults read com.apple.Finder AppleShowAllFiles) == "YES" ]]; then
    echo "Finder AppleShowAllFiles already set."
  else
    echo "Setting Finder AppleShowAllFiles..."
    defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder
  fi
  if [ $(defaults read com.apple.dock tilesize) -eq 48 ]; then
    echo "Dock tilesize already set to 48."
  else
    echo "Setting Dock tilesize to 48..."
    defaults write com.apple.dock tilesize -int 48 && killall Dock
  fi
  if [[ $(defaults read-type com.apple.dock size-immutable) == "Type is boolean" ]] && [ $(defaults read com.apple.dock size-immutable) -eq 1 ]; then
    echo "Dock size already immutable."
  else
    echo "Setting Dock size immutable..."
    defaults write com.apple.dock size-immutable -bool yes && killall Dock
  fi

  echo "✅ Finder and Dock configured successfully."
}

echo
echo -e "${DefaultColor}----- [ brew ] -----${ColorOff}"
while true; do
  read -p "❓ Install brew packages? (Y/n) " yn
  case $yn in
    [Nn]*) removeLastLine; echo "⚠️ Skipped brew packages installation."; break;;
    *) removeLastLine; installBrew; break;;
  esac
done

echo
echo -e "${DefaultColor}----- [ Finder & Dock ] -----${ColorOff}"
while true; do
  read -p "❓ Configure Finder & Dock? (Y/n) " yn
  case $yn in
    [Nn]*) removeLastLine; echo "⚠️ Skipped Finder and Dock configuration."; break;;
    *) removeLastLine; finderAndDock; break;;
  esac
done

{{- else if eq .chezmoi.os "linux" -}}
  {{- if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian")) -}}

  echo -e "${DefaultColor}--- [ Resolving requirements for Debian ] ---${ColorOff}"

  function apt() {
    echo "⏳ Installing APT packages..."
    sudo apt install -y \
      curl \
      wget \
      git \
      zsh \
      tmux
  }

  function nix() { # Use https://github.com/dariogriffo/debian.griffo.io and debiab-experimental (nvim) instead?
    # Nix package manager (for bleeding edge stuff like neovim)
    echo "⏳ Installing Nix and Nix packages..."
    if type -P nix >/dev/null 2>&1; then
      echo "Nix already installed."
    else
      echo "Installing Nix..."
      curl -L https://nixos.org/nix/install | sh -s -- --yes --no-modify-profile
      . $HOME/.nix-profile/etc/profile.d/nix.sh
    fi
    echo "Installing Nix packages..."
    nix-env -iA \
      nixpkgs.neovim \
      nixpkgs.fzf \
      nixpkgs.ripgrep \
      nixpkgs.fd \
      nixpkgs.lazygit \
      nixpkgs.bat \
      nixpkgs.delta \
      nixpkgs.eza \
      nixpkgs.tlrc

    echo "✅ Nix packages installed successfully."
  }

  function zsh() {
    echo "⏳ Ensuring zsh is login shell..."
    if [[ $(getent passwd $LOGNAME | cut -d: -f7) != "/bin/zsh" ]]; then
      echo "Changing login shell to zsh..."
      sudo chsh -s /bin/zsh $LOGNAME
    else
      echo "Login shell is already zsh."
    fi
    echo "✅ Zsh as login shell ensured successfully."
  }

  function ghostty() {
    # Ghostty
    echo "⏳ Intalling Ghostty..."
    if type -P ghostty >/dev/null 2>&1; then
      echo "Ghostty already installed."
    else
      GHOSTTY_URL=$(curl -s https://api.github.com/repos/mkasberg/ghostty-ubuntu/releases/latest | grep -oP "https://github.com/mkasberg/ghostty-ubuntu/releases/download/[^\s/]+/ghostty_[^\s/_]+_{{ .chezmoi.arch }}_trixie.deb")
      curl -Lo ghostty.deb "$GHOSTTY_URL"
      sudo apt install -y -f ./ghostty.deb
      rm ghostty.deb
    fi

    echo "✅ Ghostty installed successfully."
  }

  echo
  echo -e "${DefaultColor}----- [ APT ] -----${ColorOff}"
  while true; do
    read -p "❓ Install APT packages? (Y/n) " yn
    case $yn in
      [Nn]*) removeLastLine; echo "⚠️ Skipped APT packages installation."; break;;
      *) removeLastLine; apt; break;;
    esac
  done

  echo
  echo -e "${DefaultColor}----- [ Nix ] -----${ColorOff}"
  while true; do
    read -p "❓ Install Nix packages? (Y/n) " yn
    case $yn in
      [Nn]*) removeLastLine; echo "⚠️ Skipped Nix packages installation."; break;;
      *) removeLastLine; nix; break;;
    esac
  done

  echo
  echo -e "${DefaultColor}----- [ Zsh ] -----${ColorOff}"
  while true; do
    read -p "❓ Set Zsh as login shell? (Y/n) " yn
    case $yn in
      [Nn]*) removeLastLine; echo "⚠️ Skipped ensuring Zsh as login shell."; break;;
      *) removeLastLine; zsh; break;;
    esac
  done

  echo
  echo -e "${DefaultColor}----- [ Install Ghostty ] -----${ColorOff}"
  while true; do
    read -p "❓ Install Ghostty? (Y/n) " yn
    case $yn in
      [Nn]*) removeLastLine; echo "⚠️ Skipped Ghostty installation."; break;;
      *) removeLastLine; ghostty; break;;
    esac
  done

  {{- end }}
{{- else -}}
echo
echo -e "${DefaultColor}--- [ Resolving requirements ] ---${ColorOff}"
echo
echo "‼️ Unsupported operating system."
exit 1
{{- end }}

# --- [ General ] ---------------------------------

function customFonts() {
  echo "⏳ Installing nerd-fonts..."

  {{ if eq .chezmoi.os "darwin" -}}
  pushd "$HOME/Library/Fonts" > /dev/null
  {{ else if eq .chezmoi.os "linux" -}}
  mkdir -p "$HOME/.fonts"
  pushd "$HOME/.fonts" > /dev/null
  {{ end -}}

  FONTS=("MesloLGSNerdFont-Regular.ttf" "MesloLGSNerdFont-Bold.ttf" "MesloLGSNerdFont-Italic.ttf" "MesloLGSNerdFont-BoldItalic.ttf")

  for FONT in "${FONTS[@]}"; do
    if [ -f "$FONT" ]; then
      echo "$FONT already installed."
    else
      echo "Installing $FONT..."
      curl -L -O "https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/Meslo/S/Regular/$FONT"
    fi
  done

  popd > /dev/null

  echo "✅ Custom fonts installed successfully."
}

function tmuxPlugins() {
  echo "⏳ Installing tmux plugin manager and plugins..."
  TPM_DIR="$HOME/.tmux/plugins/tpm"
  if [ -d "$TPM_DIR" ]; then
    echo "Tmux plugin manager already installed."
  else
    echo "Installing tmux plugin manager..."
    git clone --depth 1 https://github.com/tmux-plugins/tpm "$TPM_DIR"
    echo "Installing plugins..."
    ~/.tmux/plugins/tpm/bin/install_plugins
  fi

  echo "✅ Tmux plugins installed successfully."
}

echo
echo -e "${DefaultColor}----- [ Custom Fonts ] -----${ColorOff}"
while true; do
  read -p "❓ Install custom fonts? (Y/n) " yn
  case $yn in
    [Nn]*) removeLastLine; echo "⚠️ Skipped custom fonts installation."; break;;
    *) removeLastLine; customFonts; break;;
  esac
done

echo
echo -e "${DefaultColor}----- [ Tmux Plugins ] -----${ColorOff}"
while true; do
  read -p "❓ Install tmux plugin manager and plugins? (Y/n) " yn
  case $yn in
    [Nn]*) removeLastLine; echo "⚠️ Skipped tmux plugins installation."; break;;
    *) removeLastLine; tmuxPlugins; break;;
  esac
done

# vi: ft=bash
