#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
echo "--- Running brew bundle ---"
brew bundle

echo "--- Installing nerd-fonts ---"
pushd "$HOME/Library/Fonts" > /dev/null

FONTS=("MesloLGSNerdFont-Regular.ttf" "MesloLGSNerdFont-Bold.ttf" "MesloLGSNerdFont-Italic.ttf" "MesloLGSNerdFont-BoldItalic.ttf")

for FONT in "${FONTS[@]}"; do
  if [ -f "$FONT" ]; then
    echo "$FONT already installed."
  else
    echo "Installing $FONT..."
    curl -L -O "https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/Meslo/S/Regular/$FONT"
  fi
done

popd > /dev/null

echo "--- Configuring Finder & Dock ---"
if [[ $(defaults read com.apple.Finder AppleShowAllFiles) == "YES" ]]; then
  echo "Finder AppleShowAllFiles already set."
else
  echo "Setting Finder AppleShowAllFiles..."
  defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder
fi
if [ $(defaults read com.apple.dock tilesize) -eq 48 ]; then
  echo "Dock tilesize already set to 48."
else
  echo "Setting Dock tilesize to 48..."
  defaults write com.apple.dock tilesize -int 48 && killall Dock
fi
if [ $(defaults read com.apple.dock size-immutable) -eq 1 ]; then
  echo "Dock size already immutable."
else
  echp "Setting Dock size immutable..."
  defaults write com.apple.dock size-immutable 1 && killall Dock
fi

{{ else if eq .chezmoi.os "linux" -}}
# Add apt sources for ghostty
echo 'deb http://download.opensuse.org/repositories/home:/clayrisser:/bookworm/Debian_12/ /' | sudo tee /etc/apt/sources.list.d/home:clayrisser:bookworm.list
curl -fsSL https://download.opensuse.org/repositories/home:clayrisser:bookworm/Debian_12/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/home_clayrisser_bookworm.gpg > /dev/null

# apt install
sudo apt update
xargs sudo apt install -y < AptFile

# lazygit
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/download/v${LAZYGIT_VERSION}/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit -D -t /usr/local/bin/

# TODO: nerd-fonts

{{ end -}}

echo "--- Installing tmux plugin manager and plugins ---"
TPM_DIR="$HOME/.tmux/plugins/tpm"
if [ -d "$TPM_DIR" ]; then
  echo "Already installed."
else
  echo "Installing tmux plugin manager..."
  git clone --depth 1 https://github.com/tmux-plugins/tpm "$TPM_DIR"
  echo "Installing plugins..."
  ~/.tmux/plugins/tpm/bin/install_plugins
fi

# vi: ft=bash
